.topHeaderRow {
  background-color: rgb(66, 30, 30);
  height: 3em;
  font-size: 0.8em;
  padding-top: 1em;
}
.topHeaderRow  a { 
  color: white;
}
.topHeaderRow  a:hover { 
  color: white;
}

.navbar-brand {
    font-family: 'Forum', serif;
    font-size: 32px;
}

/*.navbar {*/
/*    background-color: rgba(125, 50, 48, 0.76);*/
/*    border-color: rgb(66, 30, 30);*/
/*}*/

/*#home {*/
/*    color: rgba(66, 45, 45, 0.51);*/
/*}*/

/*li a {*/
/*    color: rgba(66, 45, 45, 0.51);*/
/*}*/

/*p a {*/
/*    color: white;*/
/*}*/

.description {
    margin-top: 8px;
   font-size: 20px;   
}

.details-list {
   list-style-type: none;   
    padding-left: 0;
}
.details-list li {
    margin: 5px 0 0 0;    
}

#tags span.label {
   line-height: 26px;   
}

.caption {
     text-align: center;   
}
.thumbnail {
     border-color: rgb(66, 30, 30);
}
.portfolio-item {
   margin-top: 10px;   
}

footer {
   background-color:  rgb(66, 30, 30);
    color: black;
    font-size: 80%;
}
footer .final {
    padding-top: 10px;
    margin-top: 10px;
    background-color: rgba(125, 50, 48, 0.76);
    text-align: center;
}

footer hr {
   margin-bottom: 0;   
}

.countryButtons  {
    margin-bottom: 10   px;
}

.caption-style-2 .caption {
    top: 150px;
}
.caption-style-2 .caption-text {
    width: 150px;
    height: 150px;
}
