.jumbotron p {
    font-size: 1em;
}

.bold {
    font-weight: bold;
}

.smallImg {
    margin: auto;
    display: inline-block;
    padding: 1em;
}
.popS {
    visibility: hidden;
   top: 0px;
   right: 0px;
}

#map {
    height: 390px;
    width: 100%;
}

table {
    width: 100%;
    /*border-spacing: 5px;*/
}

th, td {
    border: 1px solid black;
    border-collapse: collapse;
}