.jumbotron p {
    font-size: 1em;
}

.bold {
    font-weight: bold;
}

.smallImg {
    margin: auto;
    display: inline-block;
    padding: 1em;
}
.popS {
    visibility: hidden;
   top: 0px;
   right: 0px;
}

#map {
    height: 390px;
    width: 100%;
}